<div class="container cardContainer">
  <div class="carousel-title">
    اكتشف المزيد
    <br>
    عن خدماتناالمبتكرة
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="card" style="width: 17rem;">
        <i class="fas fa-credit-card"></i>
        <div class="card-body">
          <h5 class="card-title">الدفع الالكتروني</h5>
          <p class="card-text"> تنفيذا لقؤاؤ مجلس الوزراء الموقر القاضي بتحويل نظام دفع الرواتب لكافة المؤسسات
            الحكوميةالي النظام الالكتروني سارعت وزارة الاتصالات وعن طريق الشركة العامةللبريد والتوفير باتخاذ التدابير
            اللازمة لتنفيذ ما جاء بقرار مجلس الوزراء</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card" style="width: 18rem;">
        <i class="fas fa-shopping-cart"></i>
        <div class="card-body">
          <h5 class="card-title">التجارة الالكترونية</h5>
          <p class="card-text"> تنفيذا لقؤاؤ مجلس الوزراء الموقر القاضي بتحويل نظام دفع الرواتب لكافة المؤسسات
            الحكوميةالي النظام الالكتروني سارعت وزارة الاتصالات وعن طريق الشركة العامةللبريد والتوفير باتخاذ التدابير
            اللازمة لتنفيذ ما جاء بقرار مجلس الوزراء</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card" style="width: 18rem;">
        <i class="far fa-money-bill-alt"></i>
        <div class="card-body">
          <h5 class="card-title">الحوالات</h5>
          <p class="card-text"> تنفيذا لقؤاؤ مجلس الوزراء الموقر القاضي بتحويل نظام دفع الرواتب لكافة المؤسسات
            الحكوميةالي النظام الالكتروني سارعت وزارة الاتصالات وعن طريق الشركة العامةللبريد والتوفير باتخاذ التدابير
            اللازمة لتنفيذ ما جاء بقرار مجلس الوزراء</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card" style="width: 18rem;">
        <i class="far fa-envelope"></i>
        <div class="card-body">
          <h5 class="card-title">الطرود</h5>
          <p class="card-text"> تنفيذا لقؤاؤ مجلس الوزراء الموقر القاضي بتحويل نظام دفع الرواتب لكافة المؤسسات
            الحكوميةالي النظام الالكتروني سارعت وزارة الاتصالات وعن طريق الشركة العامةللبريد والتوفير باتخاذ التدابير
            اللازمة لتنفيذ ما جاء بقرار مجلس الوزراء</p>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
