ngb-carousel {
  background-color:var(--main-color);
  margin: 5% 0;
  border-top: 4px solid var(--second-color);
  .img-wrapper {
    height: 450px;
    padding: 5%;
  }

  div.carousel-caption {
    bottom: 33%;
    left: 56%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    width: 35%;

    div button.btn {
      border-radius: 20px;
      color: white;

      &.light {
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
      }
    }
  }
}

@media (max-width: 993px){
  ngb-carousel{
    div.carousel-caption {
      bottom: 0;
      left: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
    }
  }
}
