<ngb-carousel >
    <ng-template  ngbSlide>
      <div class="img-wrapper">
        <img src="../../assets/images/Illustration_1.svg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>نغلف. نشحن.نوصل لحد باب بيتك!</h3>
        <p class="m-3">اعرف تكلفة سعر الشحن والتوصيل لباب منزلك بضغط زرار</p>
        <div class="d-flex flex-row justify-content-around m-3">
            <button type="button" class="btn light">احسب تكلفة الشحنة</button>
            <button type="button" class="btn btn-warning">احسب طلبك</button>
        </div>
      </div>
    </ng-template>
    <ng-template  ngbSlide>
      <div class="img-wrapper">
        <img src="../../assets/images/illustration.svg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>نغلف. نشحن.نوصل لحد باب بيتك!</h3>
        <p class="m-3">اعرف تكلفة سعر الشحن والتوصيل لباب منزلك بضغط زرار</p>
        <div class="d-flex flex-row justify-content-around m-3">
            <button type="button" class="btn light">احسب تكلفة الشحنة</button>
            <button type="button" class="btn btn-warning">احسب طلبك</button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-wrapper">
        <img src="../../assets/images/illustration1.svg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>نغلف. نشحن.نوصل لحد باب بيتك!</h3>
        <p class="m-3">اعرف تكلفة سعر الشحن والتوصيل لباب منزلك بضغط زرار</p>
        <div class="d-flex flex-row justify-content-around m-3">
            <button type="button" class="btn light">احسب تكلفة الشحنة</button>
            <button type="button" class="btn btn-warning">احسب طلبك</button>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>


