<div class="container device-container d-flex justify-content-between">
    <img class="img-fluid" src="../../assets/images/Devices.png" alt="devices">
    <div class="app-online">
        <h5 class="m-3 device-title">تطبيق البريد</h5>
        <h6 class="m-3 device-body">حمل التطبيق من هنا</h6>
        <div class="dwonload-app">
            <button class="btn"><img class="img-fluid" src="../../assets/images/Google_Play_Badge_AR.svg" alt="google"></button>
            <button class="btn"><img class="img-fluid" src="../../assets/images/App_Store_Badge_AR.svg" alt="apple"></button>
        </div>
    </div>
</div>
