<div class="contanier tracker-container">
    <h2 class="track-title m-3"> تتبع الشحنات</h2>
    <div class="card">
        <h5 class="card-header"> تتبع الشحنة <i class="fab fa-500px"> </i> </h5>
        <div class="card-body">
            <form class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">رقم التعقب </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputPassword" placeholder="بحث بالرقم المرجعي او رقم الهاتف">
                </div>
                <button type="submit" class="col-sm-2 btn btn-warning mb-2">بحث</button>
            </form>
            <hr>
            <div class="list-group list-group-flush">
                <div class="tracker-view list-group-item">
                    <h6 class="track-title m-3">طلب رقم #123467891</h6>
                    <p> حالة الطلب <span class="state"> تم ارسال الطلب </span></p>
                    <p class="date">تاريخ الاستلام المتوقع 20-10-2020</p>
                    <ul class="progressbar">
                        <li class="active ">
                            <img src="../../assets/images/clipboard_alt.svg" alt="sendrequest">
                            <p>ارسال الطلب</p>
                        </li>
                        <li class="">
                            <img src="../../assets/images/packages_alt.svg" alt="packages">
                            <p>التعبئية والشحن</p>
                        </li>
                        <li class="">
                            <img src="../../assets/images/delivery_office.svg" alt="delivery_office">
                            <p>ارسال الي الفرع</p>
                        </li>
                        <li class="">
                            <img src="../../assets/images/trans_truck.svg" alt="trans_truck">
                            <p>جاري التوصيل</p>
                        </li>
                        <li class="">
                            <img src="../../assets/images/delivery_package.svg" alt="delivery_package">
                            <p>تم الاستلام</p>
                        </li>
                    </ul>
                </div>
                <div class="tracker-view list-group-item">
                    <h6 class="track-title m-3">طلب رقم #123467892</h6>
                    <p> حالة الطلب <span class="state"> التعبئية والشحن </span></p>
                    <p class="date">تاريخ الاستلام المتوقع 20-10-2020</p>
                    <ul class="progressbar">
                        <li class="active complete">
                            <img src="../../assets/images/clipboard_alt.svg" alt="sendrequest">
                            <p>ارسال الطلب</p>
                        </li>
                        <li class="active ">
                            <img src="../../assets/images/packages_alt.svg" alt="packages">
                            <p>التعبئية والشحن</p>
                        </li>
                        <li class="">
                            <img src="../../assets/images/delivery_office.svg" alt="delivery_office">
                            <p>ارسال الي الفرع</p>
                        </li>
                        <li class="">
                            <img src="../../assets/images/trans_truck.svg" alt="trans_truck">
                            <p>جاري التوصيل</p>
                        </li>
                        <li class="">
                            <img src="../../assets/images/delivery_package.svg" alt="delivery_package">
                            <p>تم الاستلام</p>
                        </li>
                    </ul>
                </div>
                <div class="tracker-view list-group-item">
                    <h6 class="track-title m-3">طلب رقم #123467893</h6>
                    <p> حالة الطلب <span class="state"> ارسال الي الفرع </span></p>
                    <p class="date">تاريخ الاستلام المتوقع 20-10-2020</p>
                    <ul class="progressbar">
                        <li class="active complete">
                            <img src="../../assets/images/clipboard_alt.svg" alt="sendrequest">
                            <p>ارسال الطلب</p>
                        </li>
                        <li class="active complete">
                            <img src="../../assets/images/packages_alt.svg" alt="packages">
                            <p>التعبئية والشحن</p>
                        </li>
                        <li class="active">
                            <img src="../../assets/images/delivery_office.svg" alt="delivery_office">
                            <p>ارسال الي الفرع</p>
                        </li>
                        <li class="">
                            <img src="../../assets/images/trans_truck.svg" alt="trans_truck">
                            <p>جاري التوصيل</p>
                        </li>
                        <li class="">
                            <img src="../../assets/images/delivery_package.svg" alt="delivery_package">
                            <p>تم الاستلام</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
